.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.read-content {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
}

.write-content {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: transparent;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  color: #fff;
}
